<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Aadhaar Dashboard</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/responsive.css" />
    <link rel="stylesheet" href="/static/css/colors.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-select.css" />
    <link rel="stylesheet" href="/static/css/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body class="dashboard dashboard_1">

    {% if user.is_authenticated %}
    {% else %}
    <script>location.href = "/"</script>
    {% endif %}
    <div class="full_container">
        <div class="inner_container">
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a href="/"></a>
                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_info">
                                <h6>{{request.user|upper}}</h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <ul class="list-unstyled components">
                        <li><a href="/"><i class="fa fa-table purple_color2"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="/pan">
                                <i class="fa fa-paper-plane red_color"></i> <span>Pan Card Details</span></a>
                        </li>
                        <li>
                            <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                                    class="fa fa-object-group blue2_color"></i> <span>Aadhaar</span></a>
                            <ul class="collapse list-unstyled" id="apps">
                                <li><a href="/"> <span>My Aadhaar</span></a></li>
                                <li><a href="/adf"> <span>Create Aadhaar</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/contact">
                                <i class="fa fa-paper-plane red_color"></i> <span>Contact</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="content">
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i
                                    class="fa fa-bars"></i></button>
                            <div class="logo_section">
                                <a href="/"><img class="img-responsive" src="images/logo/logo.png"
                                        alt="Aadhaar Logo" /></a>
                            </div>
                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><span
                                                    class="name_user">Hii {{request.user}} <i
                                                        class="fa fa-cog yellow_color"></i></span></a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="/logout"><span>Log Out</span> <i
                                                        class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div>
                    {% block content %}
                    {% endblock content %}
                </div>
                <div class="container-fluid">
                    <div class="footer">
                        <p>Copyright © 2023 Designed by atulg. All rights reserved.<br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/animate.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script src="/static/js/owl.carousel.js"></script>
    <script src="/static/js/Chart.min.js"></script>
    <script src="/static/js/Chart.bundle.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/analyser.js"></script>
    <script src="/static/js/perfect-scrollbar.min.js"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/chart_custom_style1.js"></script>
</body>

</html>